*{
    margin: 0;
    padding: 0;
}

.cointainer{
    height: 1000px;
    width: 150px;
    background-color: black;
    color: aqua;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-attachment: fixed;
   
}