.red{
    background: red;
    color: yellow;
}

.green{
    background: green;
    color: blue;
}

div{
    background: gold;
    color: white;
}

span{
    background: grey;
    color: beige;
}

h1{
    background: hotpink;
    
}